<!-- Video Modal Popup -->
<div class="modal fade" id="videoModalPopup" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-transparent border-0">
            <div class="modal-body p-0 text-center d-flex flex-column align-items-center justify-content-center">
                <video id="modalVideoPlayer" class="rounded-3 shadow-lg mb-3"
                    style="max-height: 60vh; max-width: 100%; width: auto; cursor: pointer;" controls autoplay
                    playsinline>
                    <source src="" type="video/mp4">
                </video>
                <button type="button" class="btn btn-large btn-gradient-pink-orange text-white rounded-0"
                    data-bs-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>
