@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<TextBlock,GridContentSetting>>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
<div class="rich-text @Model.Settings?.CustomCssClass" style="text-align:@Model.Settings?.Alignment">@Model.Content.TextContent</div>