@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "master.cshtml";
}

<div id="home-page">
    <partial name="banner" />

    <partial name="whyandabout" />

    <partial name="stack" />

    <partial name="testimonials" />

    <partial name="safety-steps" />

    <partial name="parallax-block" />

    <partial name="call-to-action" />

    <partial name="good-answers" />

    <partial name="case-studies" />
</div>

<partial name="video-modal" />
