@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!DOCTYPE html>
<html lang="de">

<head>
	<!-- title -->
	<partial name="seo" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/bootstrap-icons-1.11.1/bootstrap-icons-1.11.1/bootstrap-icons.css">
	<link href="/assets/css/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/theme.css">
	<link rel="stylesheet" href="/assets/css/custom.css?v=1.1">
	<link rel="stylesheet" href="/html/css/style.css">
	<link rel="stylesheet" href="/assets/css/responsive.css">
	<link rel="stylesheet" href="/html/css/vendors.min.css" />
	<link rel="stylesheet" href="/html/css/icon.min.css" />
	<link rel="stylesheet" href="/html/css/responsive.css" />
	<link rel="stylesheet" href="/css/block-grid-layout.css" />
	<link href="/assets/css/font.css" rel="stylesheet">
	<script src="/assets/js/bootstrap.bundle.min.js"></script>
	<script src="/assets/js/particles.min.js"></script>
</head>

<body>
	<partial name="header" />
	@RenderBody()
	<partial name="footer" />

	<script src="/assets/js/custom.js?v=1.1"></script>
	<script src="/assets/js/aos.js"></script>
	<script>
		AOS.init({
		duration: 1000,
		once: true
		});

	</script>
	<script type="text/javascript" src="/html/js/jquery.js"></script>
	<script type="text/javascript" src="/html/js/vendors.min.js"></script>
	<script type="text/javascript" src="/html/js/main.js"></script>
</body>

</html>