@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Solutions>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "master.cshtml";
}

<div id="solutions-page">

    <partial name="PageHeader" />
    <section class="py-10 bg-white">
            @await Html.GetBlockGridHtmlAsync(Model.Content)
    </section>
</div>